@mixin flex($direction, $justify, $align, $gap, $wrap: false) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
    @if $wrap {
        flex-wrap: wrap;
    }
}

@mixin button($color, $bg-color, $hover_color, $hover_bg_color) {
    color: $color;
    background-color: $bg-color;
    padding: 10px 30px;
    border: none;
    border-radius: 7px;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
        color: $hover_color;
        background-color: $hover_bg_color;
        
    }
}